In [1]:
import pandas as pd
import numpy as np
import geopy
from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt

In [2]:
reader = pd.read_csv(r'/Users/kamil/Documents/data_mining/measurements.csv', iterator=True)

In [3]:
df = reader.get_chunk(100000)

In [4]:
df.head(30)

,Captured Time,Latitude,Longitude,Value,Unit,Location Name,Device ID,MD5Sum,Height,Surface,Radiation,Uploaded Time,Loader ID
0,2022-03-19 01:58:57,42.434700,-87.901200,13.0,cpm,"Wadsworth, IL",216.0,1002ef96f395a21fadedbccad74feef5,NaN,NaN,NaN,2022-03-19 01:59:58.047487,NaN
1,2022-03-19 01:59:53.317925,39.753929,-104.959059,16.0,cpm,Denver,232.0,3e8114a4fb6bc62fee955918e2d187fa,NaN,NaN,NaN,2022-03-19 01:59:53.40923,NaN
2,2022-03-19 01:59:33,37.637260,139.660360,-1000.0,status,NaN,100299.0,1fa4c2489566850218610282debd5994,60.0,NaN,NaN,2022-03-19 01:59:33.09046,NaN
3,2022-03-19 01:59:32,37.637260,139.660360,0.0,cpm,NaN,100292.0,3b662b2c40693a9084ebb226e64a1eba,60.0,NaN,NaN,2022-03-19 01:59:32.549568,NaN
4,2022-03-19 01:59:31.332,53.864000,-3.047000,21.0,cpm,NaN,245.0,bbc4072ab00c289c773de9167874b381,NaN,NaN,NaN,2022-03-19 01:59:32.044945,NaN
5,2022-03-19 01:59:31,37.637260,139.660360,37.0,cpm,NaN,100291.0,264401900e7046414de4db12cfb396a0,60.0,NaN,NaN,2022-03-19 01:59:32.012926,NaN
6,2022-03-19 01:59:20,42.565000,-70.783000,26.0,status,NaN,100239.0,dc206a42692f585508ee65a72c8274db,10.0,NaN,NaN,2022-03-19 01:59:20.80508,NaN
7,2022-03-19 01:59:20,37.496139,140.986419,18.1,status,NaN,100209.0,5ecf6d21eb2b4c593713444f67ad2e39,10.0,NaN,NaN,2022-03-19 01:59:20.534936,NaN
8,2022-03-19 01:59:20,42.565000,-70.783000,13.0,cpm,NaN,100232.0,4890d6aa0e02eadf3fc31fb751e64fd2,10.0,NaN,NaN,2022-03-19 01:59:20.389518,NaN
9,2022-03-19 01:59:19,42.565000,-70.783000,24.0,cpm,NaN,100231.0,c574fd7e2425166524ad00a192b8c2cd,10.0,NaN,NaN,2022-03-19 01:59:19.983121,NaN
10,2022-03-19 01:59:19.611,37.442836,-122.128094,29.0,cpm,NaN,107.0,69b0556dcb06dd40d859bd95b6e02008,3.0,NaN,NaN,2022-03-19 01:59:19.851776,NaN
11,2022-03-19 01:59:19.602,37.442836,-122.128094,12.0,cpm,NaN,106.0,46a5e7da71a08862a3c5e117d98ee6c0,3.0,NaN,NaN,2022-03-19 01:59:19.832293,NaN
12,2022-03-19 01:59:15,37.496139,140.986419,43.0,cpm,NaN,100202.0,971319fa075a429dec11718fd454768d,10.0,NaN,NaN,2022-03-19 01:59:15.741115,NaN
13,2022-03-19 01:59:11,37.563500,140.991700,17.1,status,NaN,48.0,ba40dc8da3a1816742b156a1b9424b77,5.0,NaN,NaN,2022-03-19 01:59:11.2308,NaN
14,2022-03-19 01:59:10,37.563500,140.991700,0.0,cpm,NaN,0.0,435c9870c8789d6e71305e96b1c977ac,5.0,NaN,NaN,2022-03-19 01:59:10.514522,NaN
15,2022-03-19 01:59:09,37.563500,140.991700,40.0,cpm,NaN,40.0,96f2e4561a251a8190be25776c0e6bfe,5.0,NaN,NaN,2022-03-19 01:59:09.754479,NaN
16,2022-03-19 01:59:09,37.496139,140.986419,123.0,cpm,NaN,100201.0,f46791f14ac476fdf8ddc5196bf28075,10.0,NaN,NaN,2022-03-19 01:59:09.117883,NaN
17,2022-03-19 01:59:02,42.360781,-71.087719,26.4,status,NaN,200089.0,5c37fb19d117c6c418fc6ac5e4d26efb,4.0,NaN,NaN,2022-03-19 01:59:02.518376,NaN
18,2022-03-19 01:59:02,42.360781,-71.087719,17.0,cpm,NaN,200082.0,efabf775d4f9d505a2737a24aa99b305,4.0,NaN,NaN,2022-03-19 01:59:02.140592,NaN
19,2022-03-19 01:59:01,42.360781,-71.087719,47.0,cpm,NaN,200081.0,9599091269f0bd46e057a081cab04c70,4.0,NaN,NaN,2022-03-19 01:59:01.735715,NaN
20,2022-03-19 01:57:57,42.434700,-87.901200,12.0,cpm,"Wadsworth, IL",216.0,96278f06f5845167f07ea4d0f0d93f31,NaN,NaN,NaN,2022-03-19 01:58:57.935852,NaN
21,2022-03-19 01:58:53.304311,39.753929,-104.959059,23.0,cpm,Denver,232.0,5eed914470e69a427865ac55b7a843c6,NaN,NaN,NaN,2022-03-19 01:58:53.48348,NaN
22,2022-03-19 01:58:45,38.403620,-122.818470,26.4,status,NaN,200129.0,17f0ad2b152a6d14ff848601f2677ead,65.0,NaN,NaN,2022-03-19 01:58:45.491491,NaN
23,2022-03-19 01:58:45,38.403620,-122.818470,15.0,cpm,NaN,200122.0,6714c5c62cc41b4669231cf1085e1957,65.0,NaN,NaN,2022-03-19 01:58:45.094913,NaN
24,2022-03-19 01:58:44,38.403620,-122.818470,37.0,cpm,NaN,200121.0,ef5442f48b641851cb8a27f883a2aae4,65.0,NaN,NaN,2022-03-19 01:58:44.808379,NaN
25,2022-03-19 01:58:31.381,53.864000,-3.047000,25.9,cpm,NaN,245.0,37a14578e8eddeb8528e34828d0e9f24,NaN,NaN,NaN,2022-03-19 01:58:32.053434,NaN
26,2022-03-19 01:58:24,31.833193,130.301922,22.4,status,NaN,100229.0,b50a3ca40aea17a4a6dd3bd7ee3a8857,13.0,NaN,NaN,2022-03-19 01:58:24.411447,NaN
27,2022-03-19 01:58:23,31.833193,130.301922,15.0,cpm,NaN,100222.0,0b642054be939eb6facec4a7cfa03631,13.0,NaN,NaN,2022-03-19 01:58:23.824747,NaN
28,2022-03-19 01:58:23,35.615814,139.625711,18.2,celcius,NaN,100189.0,825441821d3a7e4f38305ffb2cf89901,24.0,NaN,NaN,2022-03-19 01:58:23.766284,NaN
29,2022-03-19 01:58:23,31.833193,130.301922,30.0,cpm,NaN,100221.0,e5a401122aecd2a34534a7f380eb4e34,13.0,NaN,NaN,2022-03-19 01:58:23.216029,NaN

In [5]:
df.drop(labels=['Radiation','Longitude','Latitude','Captured Time','Location Name','Device ID','MD5Sum','Surface','Uploaded Time','Loader ID'], axis=1, inplace=True)

In [6]:
df.dtypes

Value     float64
Unit       object
Height    float64
dtype: object

In [7]:
df['Unit'].unique()

array(['cpm', 'status', 'celcius', 'PM10 ug/m3', 'PM2.5 ug/m3', '211',
       'usv'], dtype=object)

In [8]:
df = df.loc[df['Unit'] == 'cpm']

In [9]:
df['Unit'].unique()

array(['cpm'], dtype=object)

In [10]:
df = df.reset_index(drop=True)
df

       Value Unit  Height
0       13.0  cpm     NaN
1       16.0  cpm     NaN
2        0.0  cpm    60.0
3       21.0  cpm     NaN
4       37.0  cpm    60.0
...      ...  ...     ...
75155   25.0  cpm     NaN
75156   21.0  cpm     NaN
75157   19.3  cpm     NaN
75158   66.0  cpm     NaN
75159   28.0  cpm     NaN

[75160 rows x 3 columns]

In [13]:
# result = pd.DataFrame()
# df = pd.read_csv(r'/Users/kamil/Documents/data_mining/measurements.csv', chunksize=1000000)
# for chunk in df:
#     chunk.dropna(subset=['Height','Value'], axis=0, inplace=True)
#     chunk.drop(labels=['Radiation','Longitude','Latitude','Captured Time','Location Name','Device ID','MD5Sum','Surface','Uploaded Time','Loader ID'], axis=1)
#     result = pd.concat([result,chunk])
# del df, chunk
# result = result.reset_index(drop=True)

In [ ]:
def getRawLocation(df):
    locator = Nominatim(user_agent='myGeocoder')
    coordinates = df['Latitude'].apply(str)+ ", " + df['Longitude'].apply(str)
    return coordinates

def

In [7]:
locator = Nominatim(user_agent='myGeocoder')
coordinates = df['Latitude'].apply(str)+ ", " + df['Longitude'].apply(str)
coordinates
location = locator.reverse(coordinates[0])
location.raw

{'place_id': 319086322,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 21838508,
 'lat': '42.43469181061767',
 'lon': '-87.901223781161',
 'display_name': '39408, North Winchester Road, Wadsworth, Lake County, Illinois, 60083, United States',
 'address': {'house_number': '39408',
  'road': 'North Winchester Road',
  'village': 'Wadsworth',
  'county': 'Lake County',
  'state': 'Illinois',
  'postcode': '60083',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['42.434641810618',
  '42.434741810618',
  '-87.901273781161',
  '-87.901173781161']}