In [14]:
import pandas as pd
import numpy as np
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly_express as px
import geopandas as gpd

In [15]:
df = pd.DataFrame()
chunk_list = []
reader = pd.read_csv(r'/Users/kamil/Documents/data_mining/measurements.csv', low_memory=False, chunksize=1000000)
for chunk in reader:
    chunk.dropna(subset=['Height','Value'], axis=0, inplace=True)
    chunk.drop(labels=['Longitude','Latitude','Captured Time','Location Name','Device ID','MD5Sum','Surface','Radiation','Uploaded Time','Loader ID'], axis=1, inplace=True)
    chunk = chunk.loc[chunk['Unit'] == 'cpm']
    chunk = chunk.drop('Unit', axis=1)
    chunk_list.append(chunk)
    print(len(chunk_list))
    if len(chunk_list) > 1000:
        break
df = pd.concat(chunk_list, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181

In [16]:
df

          Value  Height
0           0.0    60.0
1          37.0    60.0
2          13.0    10.0
3          24.0    10.0
4          29.0     3.0
...         ...     ...
37693290   31.0     1.0
37693291   54.0    44.0
37693292   21.0     1.0
37693293   33.0     1.0
37693294   20.0   120.0

[37693295 rows x 2 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37693295 entries, 0 to 37693294
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Value   float64
 1   Height  float64
dtypes: float64(2)
memory usage: 575.2 MB

In [25]:
df.describe() # usunąć wszystkie ujemne radiacje

              Value        Height
count  3.769330e+07  3.769330e+07
mean   4.037470e+01  1.231578e+02
std    1.040070e+03  2.411417e+02
min   -3.276300e+04 -1.809000e+03
25%    1.400000e+01  1.100000e+01
50%    2.600000e+01  6.000000e+01
75%    4.100000e+01  1.180000e+02
max    1.136914e+06  6.228000e+03

In [17]:
correlation = df["Value"].corr(df["Height"])
correlation

-0.0009826162994673903

In [18]:
# df.to_csv('height_value.csv', index = False)

In [12]:
df

          Value  Height
0           0.0    60.0
1          37.0    60.0
2          13.0    10.0
3          24.0    10.0
4          29.0     3.0
...         ...     ...
10000516    9.0     0.0
10000517   14.0    60.0
10000518   41.0    60.0
10000519   17.0   209.0
10000520   30.0   209.0

[10000521 rows x 2 columns]

In [ ]:
# 10 milionów wczytywało się chwilke natomiast 37 milionów wczytywało się długo, gdzie jest granica